<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Budget</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>-->
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<!--<nav th:fragment="navigation" class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">-->
    <!--<a class="navbar-brand mr-auto mr-lg-0" href="#">Budget App</a>-->
    <!--<button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">-->
        <!--<span class="navbar-toggler-icon"></span>-->
    <!--</button>-->

    <!--<div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">-->
        <!--<ul class="navbar-nav mr-auto">-->
            <!--<li class="nav-item active">-->
                <!--<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="/accounts">Accounts</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="/transactions">Transactions</a>-->
            <!--</li>-->
            <!--<li class="nav-item dropdown">-->
                <!--<a class="nav-link dropdown-toggle" href="/transactions" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Transactions</a>-->
                <!--<div class="dropdown-menu" aria-labelledby="dropdown01">-->
                    <!--<a class="dropdown-item" href="/transactions/add">Add</a>-->
                    <!--<a class="dropdown-item" href="/transactions/edit">Edit</a>-->
                    <!--<a class="dropdown-item" href="/transactions/remove">Remove</a>-->
                <!--</div>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</nav>-->


<!--<div th:fragment="add-nav" class="nav-scroller bg-white shadow-sm">-->
    <!--<nav class="nav nav-underline">-->
        <!--<a class="nav-link active" href="#">Dashboard</a>-->
        <!--<a class="nav-link" href="#">-->
            <!--Friends-->
            <!--<span class="badge badge-pill bg-light align-text-bottom">27</span>-->
        <!--</a>-->
        <!--<a class="nav-link" href="/transactions/add">Add Transactions</a>-->
        <!--<a class="nav-link" href="/transactions/edit">Edit Transactions</a>-->
        <!--<a class="nav-link" href="/transactions/remove">Remove Transactions</a>-->
    <!--</nav>-->
<!--</div>-->

<nav th:fragment="navigation">
    <a href="/">Home</a> |
    <a href="/accounts">Accounts</a> |
    <a href="/transactions">Transactions</a> |
</nav>

<nav th:fragment="add-nav">
    <a href="/transactions/add">Add Transactions</a> |
    <a href="/transactions/edit">Edit Transactions</a> |
    <a href="/transactions/remove">Remove Transactions</a>
</nav>

</body>
</html>